.shopHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 10px;
    background-color: rgb(175 205 185);

    &__shopFind{
        padding: 5px;
        width: 35%;
    }

    button{
        padding: 5px;
        width: 35%;
        font-size: 17px;
        cursor: pointer;
    }    
}