@import './libs/normalize';

.App {
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: rgba(115, 118, 118, 0.2);

    .header{
        display: flex;
        flex-direction: column;

        &__linkHeader{
            border: 1px solid;
            margin: 5px;
            padding: 5px;
            text-align: center;
            outline: none;
            list-style: none;
            text-decoration: none;
            color: black;
            background-color: rgba(115, 118, 118, 0.2);
        
            &:hover{
                background-color: rgba(115, 118, 118, 0.5);
            }
            &:active{
                background-color: rgba(115, 118, 118, 0.9);
            }
        }

    }

}

.main{
    background-color: #F5F5F5;
    margin: 10px;
    padding: 10px;
    width: 100%;
}
.title{
    @include noselect;
    font-size: 65px;
    text-align: center;
    font-weight: 200;
    color: #DFD9D9;
}
.lastLoginTime{
    @include noselect;
    position: relative;
    top: -10px;
    color: rgba(115, 118, 118, 0.2);
}
.windows{
    width: 100%;
    background-color: #FEFEFE;
    -webkit-box-shadow: 0px 2px 5px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 2px 5px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 2px 5px 2px rgba(34, 60, 80, 0.2);
}
.inputForm{
    border-bottom: 1px solid #DFD9D9;
    display: flex;
    align-items: center;

    svg{
        position: relative;
        left: 7px;
    }
}

.content{
    display: flex;
}
.shop{
    display: flex;
    width: 100%;
    flex-direction: column;


    .shopHeader{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        padding: 10px;
        background-color: rgb(175 205 185);
    
        &__shopFind{
            padding: 5px;
            width: 35%;
        }
    
        &__shopCurrency{
            padding: 5px;
            width: 20%;
            font-size: 17px;
        }    
    }

    .shopList{
        display: grid;

        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;

        @media screen and (min-width: 650px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (min-width: 860px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media screen and (min-width: 1100px) {
            grid-template-columns: repeat(4, 1fr);
        }
        @media screen and (min-width: 1800px) {
            grid-template-columns: repeat(5, 1fr);
        }

        .shopItem{
            display: flex;
            justify-content: space-between;
            margin: 10px;
            padding: 10px;
            border: 1px solid black;
            align-items: center;

            &__leftColoumn{
                display: flex;
                flex-direction: column;
                width: 80%;

                .shopItem__name{
                    font-size: 18px;
                }

                .shopItem__previous{
                    margin-top: 2px;
                    margin-bottom: 2px;
                    font-size: 15px;
                }

                .shopItem__current{
                    font-size: 20px;
                }

            }

            &__buttonAdd{
                font-size: 30px;
                width: 10%;
                height: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid rgba(115, 118, 118, 0.5);
                cursor: pointer;

                &:hover{
                    background-color: rgba(25, 117, 145, 0.5);

                }
            }
        }
    }


}


