@import '../../styles/libs/normalize';

.root{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    align-items: center;

    div{
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    button{
        @include noselect;
        font-size: 30px;
        width: 25pt;
        height: 25pt;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(115, 118, 118, 0.5);
        cursor: pointer;
        outline: none;

        &:hover{
            background-color: rgba(25, 117, 145, 0.5);
        }
        &:active{
            border: 1px solid rgba(115, 118, 118, 0.9);
            background-color: rgba(25, 117, 145, 0.9);
        }

    }

    span:nth-child(1){
        font-size: 18px;
    }
    span:nth-child(3){
        margin-top: 2px;
        margin-bottom: 2px;
        font-size: 14px;
    }
    span:nth-child(5){
        font-size: 20px;
    }
    
}
.root-active{
    border: 1px solid rgba(25, 117, 145, 0.9);
    background-color: rgba(25, 117, 145, 0.2);
}

